@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5bbf58a6-1e85-4cfe-83fd-02df6f482b45/de8nlib-6bed7b3d-3d7e-4763-bb60-18f5ee0127fd.png/v1/fill/w_1024,h_652,q_80,strp/background_prairie_pokemon_screencapture_by_nemotrex_de8nlib-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjUyIiwicGF0aCI6IlwvZlwvNWJiZjU4YTYtMWU4NS00Y2ZlLTgzZmQtMDJkZjZmNDgyYjQ1XC9kZThubGliLTZiZWQ3YjNkLTNkN2UtNDc2My1iYjYwLTE4ZjVlZTAxMjdmZC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ZVgNGi61AOkC068E-wphWmAUW8amj0MiJySqDcMCVh8");
  background-repeat: repeat-y;
  background-size: contain;

  font-family: "Outfit", sans-serif;
  font-family: "Rubik", sans-serif;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  width: 100%;
  display: flex;
  padding-top: 1%;

  justify-content: center;
}
.below {
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.filters {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.5%;
}

.filters:hover {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha (opacity=50);
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: auto;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.logoTop {
  width: 40%;
  padding-top: 3%;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

form {
  margin: 3%;
}

.card {
  
  
  width: 280px;
  height: 510px;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  margin: 2px;
  box-sizing: border-box;
  position: relative;
}
.card-img {
  height: 55%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.card-img::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(178, 100%, 50%, 0.522);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: -1;
}

.card-img img {
  width: 100%;
  height: 100%;
}
.card-body {
  height: 27%;
  color: hsl(215, 51%, 70%);
  font-size: 14px;
  padding-bottom: 10px;
}
.card-body h4 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
  font-size: 18px;

  font-weight: 400;
}
.card-body p {
  font-weight: 300;
}

.card-body-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
.card-body-footer div {
  position: relative;
  padding-left: 18px;
}
.card-body-footer div:nth-child(1) {
  color: hsl(108, 100%, 50%);
}

.card-body-footer div:nth-child(2) {
  color: red;
}
.card-body-footer div:nth-child(3) {
  color: blue;
}

.card-footer {
  height: 8%;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding-top: 4%;
}
.card-footer img {
  width: 25px;
  height: 25px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.card-footer p {
  font-size: 14px;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}
.card-footer span {
  margin-left: 5px;
  color: hsl(0, 0%, 100%);
}

#pokedex {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* __________________________________________ */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 10px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

 /* Resize the wrap to see the search bar change! */
.wrap {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 2%;
} 








#addPokemon {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 0rem 3rem;
  transition: 0.2s;
  margin-left: 15%;
  margin-bottom: 1%;

}

#addPokemon:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

#addPokemon::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

#addPokemon span {
  position: relative;
  z-index: 1;
}
#addPokemon i {
  position: absolute;
  inset: 0;
  display: block;
}

#addPokemon i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

#addPokemon:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

#addPokemon i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

#addPokemon:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}



.beautiful-button {

  position: relative;
  
  background: linear-gradient(to bottom, #1b1c3f, #4a4e91);
 /* Gradient background */
  color: white;
 /* White text color */
  font-family: "Segoe UI", sans-serif;
 /* Stylish and legible font */
  font-weight: bold;
  font-size: 15px;
  left: 43%;
  height: 5%;
  top: 3%;
 /* Large font size */
  border: none;
 /* No border */
  border-radius: 30px;
 /* Rounded corners */
  padding: 1px 14px;
 /* Large padding */
  cursor: pointer;
 /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
 /* Smooth transition */
}


/* Hover animation */
.beautiful-button:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}

/* Click animation */
.beautiful-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Shimmer animation */
@keyframes button-shimmer {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

/* Particle animation */
@keyframes button-particles {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

.lestFight {

    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }



  /* _________________________________________________________________________________________________ */
  

  

  .fightContainer {

    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(200 200 200 / 60%);
    z-index: 2;
  }
  .closeDiv {
    background-image: url(./fightbackground.webp) ;
    background-repeat: no-repeat;
    background-repeat: round ;
    width: 80%;
    height: 80%;
    background-color: grey;
    z-index: 3;
    display: flex;
    justify-content:center ;
    align-items: center;
    border-radius: 40px;
  }

  .pokemon1 {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 80%;
    
    z-index: 4;
    margin: 1%;
  }
  .central {
    width: 30%;
    height: 80%;
    background-color: #b81c00;
    z-index: 4;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .divTexto{
    background-color: green;
    width: 100%;
    height: 50%;
  }




  .pokemon2 {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    
    z-index: 4;
    margin: 1%;
  }

.forButton {
  position: fixed;
  z-index: 5 ;
  left: 83%;
  top: 11%;
}

.cardforFight {
  width: 280px;
  height: 510px;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  margin: 2px;
  box-sizing: border-box;
  position: relative;
}

/* ________________________________________ */

.forFightButton{
  text-align:center;
  background-color:#ffcc8e;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.fightButton{
  position:relative;
  display:inline-block;
  margin:20px;
  width: 90%;
  height: 40%;

}

.fightButton a{
color:white;
font-family:Helvetica, sans-serif;
font-weight:bold;
font-size:36px;
text-align: center;
text-decoration:none;
background-color:#FFA12B;
display:block;
position:relative;
padding:20px 40px;

-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
text-shadow: 0px 1px 0px #000;
filter: dropshadow(color=#000, offx=0px, offy=1px);

-webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
-moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.fightButton a:active{
top:10px;
background-color:#F78900;

-webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
-moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.fightButton:after{
content:"";
height:100%;
width:100%;
padding:4px;
position: absolute;
bottom:-15px;
left:-4px;
z-index:-1;
background-color:#2B1800;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

